{% extends 'base.html' %} {% block content %}


<div class="container">
    <br/><br/>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>

                        <!-- Product price -->
                        {% if product.is_sale %}

                        <div class="d-flex justify-content-center small text-warning mb-3">
                            <h6> !!! Sale !!! </h6>
                        </div>

                        <strike>${{ product.price }}</strike>
                        &nbsp;
                        ${{ product.sale_price }}
                        {% else %}
                        ${{ product.price }}
                        {% endif %}
                        

                        <br/><br/>
                <div class="row justify-content-center">
                    <div class="col-md-2">Quantity: </div>
                    <div class="col-md-2">
                        <select class="form-select" id="quantity-cart" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option> 
                            <option value="3">4</option> 
                            <option value="3">5</option> 
                        </select>
                    </div>
                </div>
                        <br/>
                        <a href="{% url 'home' %}" class="btn btn-secondary"><- Back </a>
                        <button type="button" class="btn btn-secondary" value="{{ product.id}}" id="add-cart" >Add to cart</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <br/><br/>
</div>

<!--Javascript-->
<script>
// Check if button press
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data:{
            product_id: $('#add-cart').val(),
            product_qty: $('#quantity-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post',
        },
        
        
        success: function(json){
            console.log(json)
            var cartQuantityElement = document.getElementById('cart_quantity');
            if (cartQuantityElement) {
                cartQuantityElement.textContent = json.Quantity;
                
            }
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }
    });
    
})


</script>

{% endblock %}
