{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to Chien Ecommerce
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h5>Hi, I'm Chien Peng 👋</h5>
      <p class="text-justify">
        &emsp;🧑🏻‍💻 I'm passionate about learning and exploring new technologies in
        the world of programming.
        <br />
        &emsp;⛰️ Balancing work and life is key for me. I enjoy coding
        challenges as much as I love downtime. Always up for trying new things,
        whether in code or life. Let's connect and make cool stuff happen
        together!
      </p>
    </div>
    <div class="col-8 text-center mt-4">
      <h5>Contact Me</h5>
      <p>
        Gmail: <a href="mailto:pong861013@gmail.com">pong861013@gmail.com</a>
      </p>
      <p>
        Github:
        <a href="https://github.com/pong1013" target="_blank">pong1013</a>
      </p>
      <p>
        LinkedIn:
        <a
          href="https://www.linkedin.com/in/chien-peng-01a1a4247/"
          target="_blank"
          >Chien Peng</a
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
