{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Register</h1>
      
    </div>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      
      <br/>
      <p class="lead fw-normal text-dark-50 mb-0">
        Welcome to Chien Ecommerce
      </p>
      <br/>

      <!-- Login Form-->
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <br/><br/>
        <button type="submit" class="btn btn-secondary">
            Register
        </button>
      </form>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>


    </div>
  </div>
</div>
{% endblock %}
