{% extends 'base.html' %} {% block content %}
<style>
    .card {
        margin-bottom: 1rem; /* Reduce margin between cards */
        max-width: 600px; /* Set a fixed max width for cards */
        margin-left: auto;
        margin-right: auto;
    }
    .card-body {
        padding: 10px; /* Reduce padding inside card */
    }
    .card-title, .card-text {
        margin-bottom: 0rem; /* Reduce margin */
    }
    .img-fluid {
        max-height: 200px; /* Set a max height for the image */
        object-fit: cover; /* Ensure the image covers the specified area */
    }
    .btn-secondary {
        margin-top: 10px; /* Adjust button margin */
    }
    .text-center {
        text-align: center;
    }
</style>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shopping Cart</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        View Your Cart
      </p>
    </div>
  </div>
</header>

<br/><br/>

<div class="container">
    {% if cart_products %}
    {% for product in cart_products %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <br/>
                    <!-- Product price -->
                    {% if product.is_sale %}
                    <div class="d-flex justify-content-center small text-warning mb-3">
                        <h6> !!! Sale !!! </h6>
                    </div>
                    <strike>${{ product.price }}</strike>
                    &nbsp;
                    <h5> ${{ product.sale_price }}</h5>
                    {% else %}
                    <h5> ${{ product.price }} </h5>
                    {% endif %}
                    <br/>
                    <div class="row justify-content-center">
                        <br/>
                        <div class="col-md-3">Quantity: </div>
                        <div class="col-md-3">
                            <select class="form-select" id="select{{product.id}}" >
                                {% for k, v in quantities.items %}
                                    <!-- slugify: Turn product.id to integer -->
                                    {% if k == product.id|slugify %} 
                                    <option selected>{{ v }}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option> 
                                    <option value="3">4</option> 
                                    <option value="3">5</option> 
                                    {% endif %}
                                {% endfor %}
                                
                            </select>
                        </div>
                    </div>
                    
                    <button type="button" data-index="{{product.id}}" 
                    class="btn btn-primary update-cart"> Update </button>
                    <button type="button" data-index="{{product.id}}" 
                    class="btn btn-danger delete-product"> Remove </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <h3 style="text-align: center;">Total: ${{ totals }}</h3>

    {% else %}
        <br/><br/>
            <center>
                <h5 class="display-6 fw-bolder">There is nothing in your cart...</h5>
                <br/><br/>
                <a href="{% url 'home' %}" class="btn btn-secondary">Let's Go Shopping! </a>
            </center>
        <br/><br/>
        <br/><br/>
    {% endif %}
</div>

<br/><br/>

<!--Javascript-->
<script>
    // Update Cart
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        // Grab product ID
        var productID = $(this).data('index')
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data:{
                product_id: $(this).data('index'),
                product_qty: $('#select' + productID + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post',
            },
            
            
            success: function(json){
                // Reload Page if Success
                location.reload();
            },
    
            error: function(xhr, errmsg, err){
                console.log('AJAX error: ' + errmsg);
            }
        });
        
    })
    
    // Remove Items from Cart
    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();
        
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_delete' %}',
            data:{
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post',
            },
            
            
            success: function(json){
                // Reload Page if Success
                location.reload();
            },
    
            error: function(xhr, errmsg, err){
                console.log('AJAX error: ' + errmsg);
            }
        });
        
    })
</script>

{% endblock %}
